<div class="well">
  <div class="btn-group" role="group">
    <button class="btn btn-default navbar-btn" ng-click="actionsCtrl.addArea()">Add area</button>
    <button ng-disabled="actionsCtrl.downloading" class="btn btn-default navbar-btn" ng-click="actionsCtrl.download()">Download</button>
    <button ng-disabled="actionsCtrl.saving" class="btn btn-primary navbar-btn" ng-click="actionsCtrl.save()">Save</button>
  </div>
  <button class="btn btn-default navbar-btn pull-right" ng-click="actionsCtrl.changeState()">Tablet View</button>
</div>
