<div>
  <div ng-repeat="area in areaCtrl.areas"
    class="entities__frame col-lg-3 col-md-4 col-sm-4 col-xs-6"
    ng-drop-success="areaCtrl.onDropComplete($index, $data, $event)"
    ng-drop="true">
    <div class='entity area-entity' ng-drag="reorderingMode" ng-drag-data="area"
      ng-class="{'area-entity--selected': areaCtrl.$stateParams.areaid === area.Id}">
        <a draggable="false" class="entity-link" ui-sref="area.group({areaid: area.Id})">
          <span class="entity-link__frame">{{area.Title}}</span>
        </a>
      <div class="entity-menu-icon"></div>
      <div class="entity-menu-container">
        <div class="entity-menu-frame">
          <a ui-sref="area.group({areaid: area.Id})"
              draggable="false"
              class="entity-menu-link dropdown-toggle"
              data-toggle="dropdown" aria-expanded="false"></a>
          <ul class="dropdown-menu pull-right" role="menu">
            <li><a draggable="false" ng-click="areaCtrl.addGroup(area)">Add group</a></li>
            <li><a draggable="false" ng-click="areaCtrl.update(area)">Edit</a></li>
            <li><a draggable="false" ng-click="areaCtrl.remove(area)">Remove</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


