<ul class="nav navbar-nav">
  <li ng-repeat="area in areaCtrl.areas">

    <!-- Split button -->
    <div class="btn-group roffset">
      <button ng-class="{'btn-primary': areaCtrl.$stateParams.areaid === area.Id}"
        ui-sref="group({areaid: area.Id})" type="button" class="btn btn-default navbar-btn">{{area.Title}}</button>
      <button ng-class="{'btn-primary': areaCtrl.$stateParams.areaid === area.Id}"
        type="button" class="btn btn-default dropdown-toggle navbar-btn" data-toggle="dropdown" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a ng-click="areaCtrl.update(area)">Edit</a></li>
        <li><a ng-click="areaCtrl.remove(area)">Remove</a></li>
      </ul>
    </div>
  </li>
</ul>
