<div class="panel panel-default groups">

    <div class="col-lg-3 col-md-4 col-sm-6 voffset" ng-repeat="group in groupCtrl.groups">
      <!-- Split button -->
      <div class="btn-group roffset">
        <button
          type="button" class="btn btn-primary">{{group.Title}}</button>
        <button
          type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a ng-click="groupCtrl.addSubArea(group)">Add sub area</a></li>
          <li><a ng-click="groupCtrl.update(group)">Edit</a></li>
          <li><a ng-click="groupCtrl.remove(group)">Remove</a></li>
        </ul>
      </div>
      <subareas group="group"></subareas>
    </div>
</div>



