<div>
  <div ng-repeat="subarea in subAreaCtrl.subareas" class=" voffset"
      ng-drop-success="subAreaCtrl.onDropComplete($index, $data, $event)"
      ng-drop="true">
    <div class='entity subarea-entity' ng-drag="true"
      ng-drag-data="subarea">
      <div ng-if="subarea.IconPreviewUrl !== undefined" class="entity-image-container">
        <img ng-src="{{subarea.IconPreviewUrl}}" />
      </div>
      <div class="entity-link__frame">{{subarea.Title}}</div>
      <div class="entity-menu-icon"></div>
      <div class="entity-menu-container">
        <div class="entity-menu-frame">
          <a class="entity-menu-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" draggable="false"></a>
          <ul class="dropdown-menu pull-right" role="menu">
            <li><a ng-click="subAreaCtrl.update(subarea)">Edit</a>
            </li>
            <li><a ng-click="subAreaCtrl.remove(subarea)">Remove</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
