<form name="form" novalidate>
  <div class="modal-header">
    <h3 class="modal-title">
    <span ng-if="oldEntity !== undefined" >Edit sub area</span>
    <span ng-if="oldEntity === undefined" >Add sub area</span>
    </h3>
  </div>
  <div class="modal-body">
    <div class="form-group"
      ng-class="{'has-error': submitted && (form.entityId.$error.required || form.entityId.$error.uniqid)}">
      <label for="entityId">ID</label>
      <input uniqid="Area" required ng-model='newEntity.Id' name="entityId" type="text" class="form-control" id="entityId" placeholder="Enter id">

      <div ng-if="submitted"
          ng-messages="form.entityId.$error" class="errors">
          <span ng-if="form.entityId.$error.required" class="help-block" ng-message="required">The ID is required</span>
          <span ng-if="form.entityId.$error.uniqid" class="help-block"
            ng-message="uniqid">The ID already exists</span>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.entityTitle.$error.required}">
      <label for="entityTitle">Title</label>
      <input required ng-model='newEntity.Title' name="entityTitle" type="text" class="form-control" id="entityTitle" placeholder="Enter title">
      <p class="help-block" ng-if="submitted && form.entityTitle.$error.required">The title is required</p>
    </div>
    <div class="form-group">
      <label for="entityDescription">Description</label>
      <textarea ng-model='newEntity.Description' name="entityDescription" class="form-control" rows="3"
        id="entityDescription" placeholder="Enter Description"></textarea>
    </div>
    <div class="form-group">
      <label for="entityEntity">Entity</label>
      <select name="entityEntity" class="form-control"
        ng-model="newEntity.Entity"
        ng-options="entity.DisplayName for entity in entities" >
      </select>
     </div>
    <label class="checkbox-inline">
      <input type="checkbox" ng-model="newEntity.AvailableOffline">Available Offline</input>
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" ng-model="newEntity.PassParameters">Pass Parameters</input>
    </label>
    <div class="form-group">
      <label for="entityUrl">Url</label>
      <input class="form-control" ng-model="newEntity.Url" szn-autocomplete="urlOptions" placeholder="Search url"/>
    </div>
    <div class="form-group">
      <label for="entityIcon">Icon</label>
      <input class="form-control" ng-model="newEntity.Icon" szn-autocomplete="iconOptions" placeholder="Search icon"/>
    </div>
    <div class="form-group">
      <label for="entityClient">Client</label>
      <select name="entityClient" class="form-control"
        ng-model="newEntity.Client"
        ng-init="newEntity.Client = newEntity.Client || 'All'"
        ng-options="client for client in ['All','Outlook','OutlookLaptopClient','OutlookWorkstationClient','Web']" >
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-click="submitted=true; ok(form.$valid)">Save</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  </div>
</form>
